body {	
  font-family: Helvetica, sans-serif;
  font-size: 100%;
}

button, input, textarea {
	font-size: 100%;	
}

ul.tweets {
	padding-left: 0px;
	width: 750px;
}

li.tweets {
  list-style-type: none;
}

.user {
	font-weight: bold;
	color: blue;
}

.hashtag {
  color: rgb(200,0,0);
}

.user:hover, .hashtag:hover {
	color: green;
	cursor: pointer;
}

.composeFields {
	padding: 10px 0px 10px 0px;
	width: 750px;
}

.enterUsername {
	width: 500px;
}

.composeTweets {
	resize: none;
	height: 75px;
	width: 750px;
}