body {	
  font-family: Helvetica, sans-serif;
}

ul.tweets {
	padding-left: 0px ;
}

li.tweets {
  list-style-type: none;
}

.user {
	font-weight: bold;
	color: blue;
}

.user:hover {
	color: green;
	cursor: pointer;
}